<!-- <ion-header>
  <ion-title>{{ pageTitle }}</ion-title>
</ion-header> -->

<ion-content>
  <ion-grid class='ion-align-items-center'>
    <ion-row class='ion-align-items-center ion-justify-content-center'>
      <ion-card>
        <ion-card-content>
          <form [formGroup]='loginForm'>
            <ion-col class='ion-align-self-center' offset='2'>
              <ion-item itemId='em' button (click)='showDescription()' detail>
                <ion-label>Email:</ion-label>
                <ion-input id='inputs.userEmail' name='email' formControlName='email' type='email' (ionChange)='trackInput($event)'></ion-input>
              </ion-item>
              <ng-container *ngIf='description'>
                <ion-text color='red'>Email should be...</ion-text>
              </ng-container>
            </ion-col>

            <ion-col offset='2'>
              <ion-item itemId='pw' button (click)='showDescription()' detail>
                <ion-label>Password:</ion-label>
                <ion-input id='inputs.userPassword' name='password' formControlName='password' type='password' (ionChange)='trackInput($event)'></ion-input>
              </ion-item>
              <ng-container *ngIf='description'>
                <ion-text color='red'>Password should be...</ion-text>
              </ng-container>
            </ion-col>

            <ion-item-divider></ion-item-divider>
            <ion-button shape='round' strong='true' color='success' (click)='submitForm()'>Login</ion-button>
            <ion-button shape='round' strong='true' color='primary' (click)='relocate()'>Register</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
