<ion-content>
  <ion-grid class='ion-align-items-center'>
    <ion-row class='ion-align-items-center ion-justify-content-center'>
      <ion-card>
        <ion-card-content>
          <form [formGroup]='registerForm'>

            <ion-col class='ion-align-self-center' offset='2'>
              <ion-item #emailButton button (click)='showDescription($event)' detail>
                <ion-label>email:</ion-label>
                <ion-input id='userModel.userEmail' name='email' formControlName='email' type='email' (ionChange)='trackInput($event)'></ion-input>
              </ion-item>
              <ng-container #emailDesc>
                <ion-text color='red'>Email should be...</ion-text>
              </ng-container>
            </ion-col>

            <ion-col offset='2'>
              <ion-item #pwButton button (click)='showDescription($event)' detail>
                <ion-label>password:</ion-label>
                <ion-input id='userModel.password' name='password' formControlName='password' type='password' (ionChange)='trackInput($event)'></ion-input>
              </ion-item>
              <ng-container #pwDesc>
                <ion-text color='red'>Password should be...</ion-text>
              </ng-container>
            </ion-col>

            <ion-col offset='2'>
              <ion-item #pwButton button (click)='showDescription($event)' detail>
                <ion-label>first name:</ion-label>
                <ion-input id='userModel.firstName' name='firstName' formControlName='firstName' type='text' (ionChange)='trackInput($event)'></ion-input>
              </ion-item>
              <ng-container #firstNameDesc>
                <ion-text color='red'>FirstName should be...</ion-text>
              </ng-container>
            </ion-col>

            <ion-col offset='2'>
              <ion-item #pwButton button (click)='showDescription($event)' detail>
                <ion-label>last name:</ion-label>
                <ion-input id='userModel.firstName' name='lastName' formControlName='lastName' type='text' (ionChange)='trackInput($event)'></ion-input>
              </ion-item>
              <ng-container #lastNameDesc>
                <ion-text color='red'>Lastname should be...</ion-text>
              </ng-container>
            </ion-col>

            <ion-item-divider></ion-item-divider>
            <ion-button shape='round' strong='true' color='success' (click)='submitForm()'>Submit</ion-button>
            <ion-button shape='round' strong='true' color='primary' (click)='back()'>Back</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
