<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <form (ngSubmit)="signUp()">
    <!--firstName-->
    <ion-item>
      <ion-label position="floating">Enter firstname:</ion-label>
      <ion-input
        class="ion-padding"
        type="text"
        name="firstName"
        #firstName="ngModel"
        [(ngModel)]="userModel.firstName"
        pattern="^([0-9]*[a-zA-Z]){3,}[0-9]*$"
        [class.is-invalid]="firstName.touched && firstName.invalid"
        required
      ></ion-input>
    </ion-item>
    <div *ngIf="firstName.errors">
      <ion-text
        *ngIf="firstName.touched && firstName.errors.required"
        style="color: red"
        >firstName is required!</ion-text
      >
      <ion-text
        *ngIf="firstName.touched && firstName.errors.pattern"
        style="color: red"
        >firstName should be at least 3 characters!</ion-text
      >
    </div>
    <!--lastName-->
    <ion-item>
      <ion-label position="floating">Enter lastName:</ion-label>
      <ion-input
        class="ion-padding"
        type="text"
        name="lastName"
        #lastName="ngModel"
        [(ngModel)]="userModel.lastName"
        pattern="^[a-zA-Z]{3,25}$"
        [class.is-invalid]="lastName.touched && lastName.invalid"
        required
      ></ion-input>
    </ion-item>
    <div *ngIf="lastName.errors">
      <ion-text
        *ngIf="lastName.touched && lastName.errors.required"
        style="color: red"
        >lastName is required!</ion-text
      >
      <ion-text
        *ngIf="lastName.touched && lastName.errors.pattern"
        style="color: red"
        >lastName should be at least 3 characters!</ion-text
      >
    </div>
    <!--email-->
    <ion-item>
      <ion-label position="floating">Enter email:</ion-label>
      <ion-input
        class="ion-padding"
        type="email"
        name="email"
        #email="ngModel"
        [(ngModel)]="userModel.email"
        pattern="^[^@\s]+@[^@\s\.]+\.[^@\.\s]+$"
        [class.is-invalid]="email.touched && email.invalid"
        required
      ></ion-input>
    </ion-item>
    <div *ngIf="email.errors">
      <ion-text
        *ngIf="email.touched && email.errors.required"
        style="color: red"
        >Email is required!</ion-text
      >
      <ion-text *ngIf="email.touched && email.errors.pattern" style="color: red"
        >This is not an email!</ion-text
      >
    </div>
    <!--password-->
    <ion-item>
      <ion-label position="floating">Enter password:</ion-label>
      <ion-input
        class="ion-padding"
        type="password"
        name="password"
        #password="ngModel"
        [(ngModel)]="userModel.password"
        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
        [class.is-invalid]="password.touched && password.invalid"
        required
      ></ion-input>
    </ion-item>
    <div *ngIf="password.errors">
      <ion-text
        *ngIf="password.touched && password.errors.required"
        style="color: red"
        >Password is required!</ion-text
      >
      <ion-text
        *ngIf="password.touched && password.errors.pattern"
        style="color: red"
        >Password should be at least 8 characters (small/large syllabels, one
        spec character, one number)!</ion-text
      >
    </div>
    <!--Confirm password-->
    <ion-item>
      <ion-label position="floating">Confirm password:</ion-label>
      <ion-input
        type="password"
        name="repass"
        (ionChange)="onKeyUp($event)"
        required
      ></ion-input>
    </ion-item>
    <div *ngIf="!this.confirmed">
      <ion-text *ngIf=" !this.confirmed && repass === null" style="color: red"
        >Password confirmation is required!</ion-text
      >
      <ion-text
        *ngIf="!this.confirmed && repass !== this.userModel.password"
        style="color: red"
        >Password doesn't match!</ion-text
      >
    </div>

    <ion-button
      type="button"
      (click)="signUp()"
      expand="block"
      size="default"
      [disabled]="disableButton"
      >Sign up</ion-button
    >
  </form>
</ion-content>
